#content {
  margin: 10px;
  padding: 10px;

  background-attachment: scroll;

}

.minor-section {
  backdrop-filter:contrast(23%);
  padding: 10px;
  box-shadow: 0.5rem 0.5rem 20px black, -0.5rem -0.5rem 20px #c8baba;
  

  
}
